{% extends 'mailing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">

        <form class="row mb-5" method="post" action=""  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-6 margin-left: 80px">
                <div class="card mb-5 mt-5 box-shadow">
                    <div class="card-header">
                        {% if object %}
                        <h4 class="my-0 mb-5 font-weight-normal">Редактирование данных о клиенте</h4>
                        {% else %}
                        <h4 class="my-0 font-weight-normal">Разместите данные о клиенте</h4>
                        {% endif %}
                    </div>
                    <div class="card-body">
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Сохранить</button>
                </div>
                </div>
            </div>

        </form>
</div>
{% endblock %}