{% extends 'mailing/base.html' %}
{% block content %}

<div class="container">

        <form class="row mb-5" method="post" action=""  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-6 margin-left: 80px">
                <div class="card mb-5 mt-5 box-shadow">
                    <div class="card-header">
                        {% if object %}
                        <h4 class="my-0 mb-5 font-weight-normal">Редактирование данных о клиенте</h4>
                        {% else %}
                        <h4 class="my-0 font-weight-normal">Разместите данные о клиенте</h4>
                        {% endif %}
                    </div>
                    <div class="card-body">

                        <div class="form-error">{{ form.non_field_errors }}</div>
                        {% for f in form %}
                        <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                        {% endfor %}
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Сохранить</button>

                    </div>
                </div>
            </div>

        </form>
</div>
{% endblock %}