{% extends 'mailing/base.html' %}
{% block content %}
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Сервис рассылок</h1>

                    <!--<a href="#" class="btn btn-primary my-2">Main call to action</a>-->
                    <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Рассылки</text>
                        </svg>
                        <div class="card-body text-center">
                            <p class="card-text">Настройки рассылок.</p>
                            <div class="d-flex justify-content-between align-items-center">

                                   <a class="btn btn-primary" href="{% url 'mail_list' %}" role="button">Просмотреть</a>
                                <a class="btn btn-primary" href="{% url 'mail_create' %}" role="button">Создать рассылку</a>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Клиенты</text>
                        </svg>
                        <div class="card-body text-center">
                            <p class="card-text">База клиентов для рассылок.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a class="btn btn-primary" href="{% url 'client_list' %}" role="button">Просмотреть</a>
                                <a class="btn btn-primary" href="{% url 'client_create' %}" role="button">Создать клиента</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Письма</text>
                        </svg>
                        <div class="card-body text-center">
                            <p class="card-text">База писем для рассылок.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a class="btn btn-primary" href="{% url 'message_list' %}" role="button">Просмотреть</a>
                                <a class="btn btn-primary" href="{% url 'message_create' %}" role="button">Создать письмо</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row py-lg-5">
            <div class="col-lg-4 col-md-8 mx-auto">
                    <a class="btn btn-primary" href="{% url 'log_list' %}" role="button">Просмотр логов по рассылке</a>
                </div>
         </div>
    </div>
</main>
{% endblock %}