{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Сервис рассылок</h1>
                <br>
                <h3 class="fw-light">Статистика</h3>
                <p>Всего рассылок на сервисе: {{ mail_count }}</p>
                <p>Активных рассылок рассылок на сервисе: {{ active_mail_count }}</p>
                <p>Уникальных клиентов на сервисе: {{ client_count }}</p>

                <!--<a href="#" class="btn btn-primary my-2">Main call to action</a>-->
                <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
            </div>

        </div>
    </section>
    <div class="row col-12 md-3 mb-3 text-center">
        {% for object in object_list %}
        <div class="col-4 md-3 mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal"> {{ object.title }}</h3>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li><img src="{{ object.preview | media_filter }}" width="300" height="300">></li>
                    </ul>
                    <a class="btn btn-primary" href="{% url 'blog:about' object.pk %}" role="button">Подробнее</a>

                </div>
            </div>
        </div>
        {% endfor %}

</main>
{% endblock %}