{% extends 'mailing/base.html' %}
{% block content %}
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Отчет о проведенных рассылках</h1>

                    <!--<a href="#" class="btn btn-primary my-2">Main call to action</a>-->
                    <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
            </div>
        </div>
        {% if not object_list %}
        <p>Отчетов о рассылках в данное время нет</p>
        {% endif %}
    </section>
    <div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"> {{ object.mail.name }} </h4>
                </div>
                <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                          <li> Тема письма: {{ object.mail.message.title }}</li>
                          <li> Дата начала: {{ object.mail.date_start }}</li>
                          <li> Дата окончания: {{ object.mail.date_end }}</li>
                          <li> Дата и время последней попытки: {{ object.last_time_mail }}</li>
                          <li> Статус рассылки: {{ object.mail.status }}</li>
                          <li> Статус отправки: {{ object.status }}</li>
                    </ul>
       </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</main>
{% endblock %}