{% extends 'mailing/base.html' %}
{% block content %}
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Письма для отправки рассылок</h1>

                    <!--<a href="#" class="btn btn-primary my-2">Main call to action</a>-->
                    <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
            </div>
        </div>
    </section>

    <div class="container">
    <div class="row row text-center">

        <div class="col-6 pb-5">
            <div class="card mb-5 mr-5 box-shadow">

                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Заголовок письма: {{ object.title }} </h4>
                </div>
                <div class="card-body">
                    <p class="card-title pricing-card-title">Текст письма: {{ object.body }}</p>

                    <a class="btn btn-primary" href="{% url 'message_update' object.pk %}" role="button">Редактировать</a>
                    <a class="btn btn-primary" href="{% url 'message_delete' object.pk %}">Удалить</a>
                    <a class="btn btn-primary" href="{% url 'message_list' %}" role="button">Назад</a>
                </div>

            </div>
        </div>
    </div>
    </div>

</main>

{% endblock %}