{% extends 'mailing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-2 pb-md-2 col-12 text-center bg-light-subtle border border-primary-subtle rounded-3">
    <h1 class="display-4">Разместите свою статью</h1>
</div>
<div class="container">
    <div class="row text-start pt-md-4">
            <div class="col-6 margin-left: 80px">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Разместите свою статью</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="" class="form-input" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form|crispy }}

                                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Сохранить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}