{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-4 pb-md-4 col-12 text-center bg-light-subtle border border-primary-subtle rounded-3">
    <h1 class="display-4">Статьи</h1>
    <div>
        <h3 class="lead">Блог</h3>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{object.title}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Заголовок: {{object.title}}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">

                        <li>Содержание: {{object.content}}</li>
                        {% if object.is_published %}
                        <li>Статус: Опубликовано</li>
                        {% else %}
                        <li>Статус: Не опубликовано</li>
                        {% endif %}
                        <li><img src="{{ object.preview | media_filter }}" width="300" height="300"></li>
                        <li>Дата размещения статьи: {{ object.created_at }}</li>
                        <li>Количество просмотров: {{ object.views_count }}</li>
                    </ul>
                    <a class="btn btn-primary" href="{% url 'blog:blog_list' %}" role="button">Назад</a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
