{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-4 pb-md-4 col-12 text-center bg-light-subtle border border-primary-subtle rounded-3">
    <h1 class="display-4">Статьи</h1>
    <div>
        <h3 class="lead">Блог</h3>
    </div>
</div>

<div class="container">
    <div class="row col-12 md-3 mb-3 text-center">
        <div class="col-12">
            {% if user.is_authenticated and perms.blog.add_blog %}
            <a class="p-2 btn btn-outline-primary" href="{% url 'blog:create_blog' %}">Разместить статью</a>
            {% endif %}
        </div>
    </div>

    <div class="row col-12 md-3 mb-3 text-center">
        {% for object in object_list %}
      <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h3 class="my-0 font-weight-normal">Заголовок: {{ object.title }}</h3>
            </div>
            <div class="card-body">
                <p class="card-title pricing-card-title">{{ object.title }}</p>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>- {{ object.content|truncatechars:100 }}</li>
                    <li><img src="{{ object.preview | media_filter }}" width="300" height="300">></li>
                </ul>
                <a class="btn btn-primary" href="{% url 'blog:about' object.pk %}" role="button">Посмотреть</a>
                {% if user.is_authenticated and perms.blog.delete_blog and perms.blog.change_blog %}
                <a class="btn btn-primary" href="{% url 'blog:update_blog' object.pk %}" role="button">Обновить</a>
                <a class="btn btn-primary" href="{% url 'blog:delete_blog' object.pk %}" role="button">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
        {% endfor %}
    </div>

</div>
{% endblock %}