{% extends 'mailing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <form class="row" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-6 ">
            <div class="card mb-5 mt-5">
                <div class="card-header">
                    <h3 class="card_title">
                        Войти
                    </h3>
                    <div class="card-body">
                        {{ form|crispy }}

                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary mt-5">Войти</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}